.stay-top{
    display: flex;
    padding-bottom: 5px;
    flex-direction: column;
    text-align: right;
}

.stay-top img{
    width: 100%;
    height: 600px;
}

.sub-header{
    position: absolute;
    right: 33%;
    top: 65%;
    font-size: 3rem;
    color: #fff;
}

.sub-bold{
    position: absolute;
    font-weight: 500px;
    right: 31%;
    top: 73%;
    color: #fff;
}

.bold{
    color: #6d3628;
    font-size: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-bottom: 30px;
    padding-top: 20px;
}

.content{
    color: #74748a;
    font-size: 1.1rem;
    line-height: 150%;
}

.lodge{
    display: block;
    text-align: center;
    padding: 20px 0px;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 70px;
}

.photo-text{
    display: flex;
    padding: 20px 5%;
}

.photo-text p{
    text-align: center;
    padding-right: 10%;
    padding-left: 10%;
}

section a{
    text-decoration: none;
    color: #6d3628;
    display: flex;
    justify-content: center;
    padding-right: 10%;
    padding-left: 10%;
}

section .bold{
    padding-top: 15%;
}

.photo-text img{
    height: 485px;
    transition: 0.4s;
}

.photo-text img:hover{
    box-shadow: 0px 4px 20px ;
}